body {
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: darkmagenta;
}

#title_header {
    display: flex;
    
}

#title, .subtitle, .post_title {
    color: blueviolet;
}

#title_image{
    margin: 0;
    border-radius: 50%;
    border: 1px solid #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 15px;
    
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px 0;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin: 0 0 15px 0;
    border-radius: 15px;
}

.post_content{
    margin: 0 0 15px 0;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin: 0 0 15px 0;
    width: 100%;
}

.contact_list{
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: none;
}
.contact_list li a {
    color: #505050;
    padding: 0 0 5px 0;
}